.List {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.doneItem {
  width: 80%;
  border: 0.2rem solid black;
  background-color: #ef5482;
  border-top-right-radius: 1rem;
  color: rgb(0, 0, 0);
  margin-bottom: 1rem;
  list-style: none;
  font-size: 2rem;
}
.editInput {
  width: 20rem;
  margin-right: 5rem;
}

.listItem {
  width: 80%;
  font-family: sans-serif;
  font-size: 2rem;
  border: 0.2rem solid black;
  background-color: #f0a3ba;
  border-top-right-radius: 1rem;
  color: rgb(0, 0, 0);
  margin-bottom: 0.7rem;
  list-style: none;
}

.UP,
.DOWN,
.DONE,
.DELETE,
.save,
.cancel,
.EDIT {
  margin-left: 1rem;
  border: 0.3rem solid black;
}

.UP {
  background-image: url("src/Images/AppBackground/up-arrow-svgrepo-com...png");
  width: 3.5rem;
  height: 3.5rem;
  color: rgba(255, 255, 255, 0);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
}

.DOWN {
  background-image: url("src/Images/AppBackground/down arrow.png");
  width: 3.5rem;
  height: 3.5rem;
  color: rgba(255, 255, 255, 0);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
}

.DONE {
  background-image: url("src/Images/AppBackground/done-svgrepo-com.png");
  width: 3.5rem;
  height: 3.5rem;
  color: rgba(255, 255, 255, 0);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
}

.EDIT {
  margin-left: 100px;
  background-image: url("src/Images/AppBackground/edit-svgrepo-com.png");
  width: 3.5rem;
  height: 3.5rem;
  color: rgba(255, 255, 255, 0);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
}

.DELETE {
  background-image: url("src/Images/AppBackground/delete-svgrepo-com (1).png");
  width: 3.5rem;
  height: 3.5rem;
  color: rgba(255, 255, 255, 0);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30%;
  cursor: pointer;
}

.save {
  background-image: url("src/Images/AppBackground/save-svgrepo-com.png");
  width: 3.5rem;
  height: 3.5rem;
  color: rgba(255, 255, 255, 0);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30%;
  cursor: pointer;
}

.cancel {
  background-image: url("src/Images/AppBackground/cancel-svgrepo-com.png");
  width: 3.5rem;
  height: 3.5rem;
  color: rgba(255, 255, 255, 0);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
